@font-face {
  font-family: "Alkes";
  src: url("../fonts/AlkesThin.TTF");
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue_Thin.ttf");
}
@font-face {
  font-family: "Spirits";
  src: url("../fonts/spirits-soft.otf");
}
@font-face {
  font-family: "runholdy";
  src: url("../fonts/Runholdy.ttf");
}
html, body, div, h1, h2, h3, h4, h5, h6, p, ol, ul, li, a{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  /*color: #D93C37;*/
  color: #612318;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  background-color: #FFFFFF;
  line-height: 1;
}
.main-container {
  display: grid;
  grid-template-columns: 206px 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 15px;
  box-sizing: border-box;
  height: 100vh;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
#buttons {
  width: 100%;
  margin-top: 15px;
  font-size: 0;
  border: solid 15px #bdbdd5;
  border-radius: 10px;
  background-color: #bdbdd5;
  box-sizing: border-box;
}
#buttons img{
  width: 88px;
  height: 31px;
}
.main_body{
  font-family:  Alkes;
  align-items: center;
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}
.main_body div{
  margin: 25px;
  font-size: 15px;
}
#title {
  margin-top: 5vh;
  font-family: runholdy;
}
#title h1{
  font-size: 50px;
}
#title h2{
  font-size: 25px;
}
#links{
  font-size: 22.5px;
  width: 100%;
  background-color: #bdbdd5;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-evenly;
  border: solid 15px #bdbdd5;
  border-radius: 10px;
  font-family:  Alkes;
}
#links a{
  color: #594C3E;
}
#intro {
  font-size: 14px;
}
#intro a {
  color: #594C3E;
}
#intro ul {
  padding-left: 15px;
  list-style-type: circle;
}
.pronouns {
  font-size: 9px;
  vertical-align: super;
}
.block{
  height: 50vh;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 15px;
}
.block div{
  font-size: 15px;
  background-color: #bdbdd5;
  box-sizing: border-box;
  border: solid 15px #bdbdd5;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.colleges{
  border: none;
}
.bears_livestream{
  max-width: 100%;
  width: 30%;
  min-width: 280px;
  max-height: 100%;
  min-height: 162.5px;
}
/* colors in use
https://coolors.co/cfe8e9-bdbdd5-d93c37-594c3e
soft white #E0DFDC
soft blue #bdbdd5
drak blue #31529c
slate grey #737b9c
dark red #622031
light red #bd3152
*/